<!DOCTYPE html>
<html>
<head>
	<title>Weather finder</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body bg-gradient-secondary >
	<div class="container">
		<div class="jumbotron border border-secondary">
			<h1 class="display-4">Weather</h1>
			<form action="{% url 'display' %}" method="post">
				{% csrf_token %}
				Enter city:
				<input type="text" name="city" required="">
				<button class="btn btn-secondary">Search</button>
			</form>

			{% if city %}
				<ul>
					<li>Temperature at <strong>{{ city|title }}</strong> is: {{ temp }}°F</li>
					<li>Weather description: <em>{{ weather_description|title }}</em></li>
					<li>Today's low: {{ temp_min }}°F</li>
					<li>Today's high: {{ temp_max }}°F</li>
					<li>Humidity: {{ humidity }} %</li>
				</ul>
				<img src="{{ img_url }}" class="rounded float-left border border-secondary img-fluid rounded-lg"  alt="Responsive image">
			{% endif %}
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>



